<div class="container">

  <div class="card card-login">
    <div class="card-header">
     Order now!
    </div>
    <div class="card-body">
      <div class="card-body">
        <%= render 'form' %>

        <%= link_to 'Back', new_movie_order_path %>
      </div>
    </div>
  </div>

</div>